[build]
  base    = "frontend"
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://primetrade-ai-dashboard.onrender.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
